/*
 * Styles
 * @Package: VehicleInventory
 */

#vehiclelist{
  width:100%;
  /* max-width:1140px; */
  margin:10px auto;
}
#vehicles{
  width:100%;
  border: 1px solid #ddd;
}
#details{
  width:100%;
  max-width:540px;
  margin:0 auto;
}
#tabs{
  padding-left: 0;
  padding-right: 0;
}
.addnewtop,
.addnewbottom,
#tabs .tab{
  background:#222;
  color:#fff;
  font-size:18px;
}
#tabs .tab a{
  color:#fff;
  display: block;
  padding:10px 5px 10px 15px;
  text-decoration: none;
}
#tabs .tab a:hover,
#tabs .active{
  background:#000;
}

.pricecontent,
.descriptioncontent,
.specscontent,
.additionalcontent,
.gallerycontent,
.publishcontent{
  display: none;
}
.specscontent label, .specscontent input{
  display: inline-block!important;
  width:auto;
}
.message{
  position:absolute;
  top:20px;
  right:20px;
  z-index: 9;
}
#menu-item-browse{
  display: none!important;
}
.error{
  color:red;
}

#drop_area, .drop_area {
  background: #f9f9f9;
  min-height:150px;
  border: 2px dashed #ccc;
  line-height:150px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.drag_over{
  color: #000;
  border-color: #000;
}

#uploaded_file .thumbnail{
  width: 100px;
  height: 100px;
  padding: 2px;
  margin: 2px;
  border: 2px solid lightgray;
  border-radius: 3px;
  float: left;
}
#featured_thumb .thumbnail{
  float: none;
}

#upload_file{
  display: none;
}

.delete,.update,.fupdate{
  padding: 0 4px 2px 4px;
  line-height: 1;
  position: absolute;
}

#settings .row{
  padding-top:20px;
}